***
## 3.3 Your turn!
***

### 1. Write a code to check if a number is positive, negative or zero

The number should be entered dynamically.
How to start?
Think about the input
Think about what you need: sequences, branches, loops?

In [1]:
inNum = int(input('Give me a number!',))

if inNum == 0:
    print('Number is zero!')
elif inNum < 0:
    print('Number is negative!')
else:
    print ('Number is positive!')

Give me number! 9

Number is positive!

### 2. Write a code to loop through a list to find out who falls within a low-income group (<30000) and would need support for the program.

In [2]:
# create lists and convert to df  
import pandas as pd
name = ['Anne', 'Ricky', 'Rimo', 'Maria', 'John', 'Eric', 'Eva', 'An', 'Mo', 'Eduard']
income = [40000, 50000, 20000, 100000, 23000, 30000, 35000, 25000, 70000, 90000]
  
# Calling DataFrame constructor after zipping
# both lists, with columns specified
participants = pd.DataFrame(list(zip(name, income)),
               columns =['Name', 'Income'])
participants

     Name  Income
0    Anne   40000
1   Ricky   50000
2    Rimo   20000
3   Maria  100000
4    John   23000
5    Eric   30000
6     Eva   35000
7      An   25000
8      Mo   70000
9  Eduard   90000

In [3]:
for i in range(0,9):
    data1 = participants['Income']
    data2 = participants['Name']
    if data1[i] < 30000:
        print(data2[i], 'needs support')

Rimo needs support
John needs support
An needs support

**Terminal command to zip your data (so you can download your folders)**
<br>
zip -r LEADS_Python_Jupyter_backup.zip LEADS_Python_Jupyter